.expense-card-new{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#ffffff;

    border-radius:18px;

    padding:22px;

    margin-top:18px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s ease;
}

.expense-card-new:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 30px rgba(0,0,0,.12);
}

.expense-left h3{

    margin:0;

    color:#1f2937;

    font-size:24px;

    font-weight:600;
}

.expense-details{

    margin-top:14px;

    display:flex;

    gap:12px;

    flex-wrap:wrap;
}

.badge{

    background:#4CAF50;

    color:white;

    padding:7px 15px;

    border-radius:25px;

    font-size:14px;

    display:flex;

    align-items:center;

    gap:6px;
}

.date{

    background:#eef2ff;

    color:#4b5563;

    padding:7px 15px;

    border-radius:25px;

    display:flex;

    align-items:center;

    gap:6px;

    font-size:14px;
}

.expense-right{

    text-align:right;
}

.expense-right h2{

    color:#2563eb;

    font-size:28px;

    margin-bottom:18px;
}

.buttons{

    display:flex;

    gap:10px;

    justify-content:flex-end;
}

.edit{

    background:#f59e0b;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:10px;

    cursor:pointer;
}

.delete{

    background:#ef4444;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:10px;

    cursor:pointer;
}

.edit:hover{

    background:#d97706;
}

.delete:hover{

    background:#dc2626;
}

@media(max-width:768px){

.expense-card-new{

    flex-direction:column;

    align-items:flex-start;
}

.expense-right{

    width:100%;

    margin-top:18px;

    text-align:left;
}

.buttons{

    justify-content:flex-start;
}

}